.divider.fat {
  border-top: 0.3571428571428571em solid rgb(216, 76, 21);
  width: 33%;
}

.contacts li a.mail:hover {
  color: rgb(233, 13, 13);
}

.contacts li a.instagram:hover {
  color: rgb(219, 61, 21);
}

.credits {
  text-align: right;
  padding: 0.5em;
  line-height: 1.8em;
  opacity: 0.75;
  transition: opacity 0.2s linear;
  color: white;
}

.header {
  text-align: left;
  padding: 0.5em;
  line-height: 2em;
  opacity: 0.75;
  transition: opacity 0.2s linear;
  color: white;
}

footer img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 15%;
}

.header img {
  position: fixed;
  width: 2em;
  height: 2em;
  padding: 0.1em;
}

.header p {
  padding-left: 3em;
  padding-top: 0.3em;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background: rgba(209, 149, 38, 0.726);
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
}

footer {
  height: 50vh;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(209, 149, 38, 0.726);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

footer a {
  margin-top: 2rem;
  color: black;
  text-decoration: underline;
}

main {
  background: linear-gradient(-45deg, #f5e502, #3de058bd, #d48a295e, #eeff00d3);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
